.gradient-border-item-filter {
  background: linear-gradient(
    37.15deg,
    rgba(225, 73, 248, 0.1) 13.23%,
    rgba(153, 69, 255, 0.1) 37.52%,
    rgba(0, 243, 171, 0.1) 93.06%
  );
  /* border: 0.5px solid;

  border-image-source: linear-gradient(90deg, #9945ff 20%, #00f3ab 100%); */
}

.gradient-border-item-filter::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(90deg, #9945ff 20%, #00f3ab 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.background-vault-item {
  background: linear-gradient(90deg, #fff5dd 2.4%, #b78300 102.4%);
}
.text-vault-item {
  background: linear-gradient(177.89deg, #636363 1.78%, #000000 98.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-header-vault-item {
  background: linear-gradient(90deg, #9945ff 20%, #00f3ab 100%);
}

.crypto-margin-class {
  background: linear-gradient(180deg, rgba(236, 236, 237, 0.1) 0%, rgba(134, 134, 135, 0.08) 100%);
  border: 0.5px solid #ECECED1F;
}
